# Разработка модели ранжирования

Цель нашей работы разработать релевантную модель, спобную предоставлять пять похожих товаров из базы данных в ответ на запрос по одному товару.

В нашем распоряжении:

base.csv - анонимизированный набор товаров.

Каждый товар представлен как уникальный id (0-base, 1-base, 2-base) и вектор признаков размерностью 72.

train.csv - обучающий датасет. 

Каждая строчка - один товар, для которого известен уникальный id (0-query, 1-query, …) , вектор признаков И id товара из base.csv, который максимально похож на него (по мнению экспертов).

validation.csv - датасет с товарами (уникальный id и вектор признаков), для которых надо найти наиболее близкие товары из base.csv.


validation_answer.csv - правильные ответы к предыдущему файлу.

## Выгрузка данных и знакомство с данными

Отразим используемые модули в рамках одной ячейки для удобства.

In [1]:
import faiss
import pandas as pd
import numpy as np

from catboost import CatBoostRegressor

from sklearn.model_selection import GridSearchCV 
from sklearn.preprocessing import StandardScaler 

from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer

In [2]:
base = pd.read_csv('C://Users//roma_//OneDrive//Рабочий стол//DATA//Проект Мастерская 2//base.csv', index_col=0)
validation = pd.read_csv('https://raw.githubusercontent.com/romakulikov/workshop2/main/validation.csv', index_col=0)
validation_answer = pd.read_csv('https://raw.githubusercontent.com/romakulikov/workshop2/main/validation_answer.csv', index_col=0)

In [3]:
train = pd.read_csv('https://raw.githubusercontent.com/romakulikov/workshop2/main/train.csv', index_col=0)

In [4]:
base.tail()

,0,1,2,3,4,5,6,7,8,9,...,62,63,64,65,66,67,68,69,70,71
Id,,,,,,,,,,,,,,,,,,,,,
4744755-base,-125.08630,4.735448,38.284935,-125.27671,209.788360,-47.870010,-628.127378,-71.077340,125.534355,29.34185,...,-70.364395,55.428260,-191.53702,122.978279,65.515260,108.963715,-52.795380,117.254510,-615.998268,-77.768555
4744759-base,-108.59839,5.454173,-22.191975,-158.71666,113.606110,-88.843430,-117.234538,137.317690,129.056690,164.75424,...,-70.360190,18.439003,-90.65145,-28.586794,68.691666,1.636499,-24.388298,93.530540,-1074.464888,-90.800400
4744762-base,-97.02673,-2.143885,-71.274090,-144.68066,149.464810,-21.572212,-759.626065,-108.151955,124.810135,118.76070,...,-55.961933,62.923470,-169.11832,108.452806,68.592970,43.205433,69.029830,129.536650,-1074.464888,4.718300
4744763-base,-86.83843,8.911945,-34.837738,-106.46268,42.236572,-96.194230,-532.907338,9.845185,126.037560,59.22310,...,-86.867020,-6.959065,-174.07591,-151.007973,68.622246,0.707927,94.451866,124.843000,-1074.464888,-55.789314
4744766-base,-101.96527,12.859500,-51.393135,-168.21826,101.065110,-71.914600,34.734278,-5.394417,135.523760,125.36194,...,-67.404680,72.963425,-147.85870,-5.081259,69.688720,-20.186157,84.479110,92.833786,-1073.826170,14.774761

In [5]:
train.head()

,0,1,2,3,4,5,6,7,8,9,...,63,64,65,66,67,68,69,70,71,Target
Id,,,,,,,,,,,,,,,,,,,,,
0-query,-53.882748,17.971436,-42.117104,-183.93668,187.517490,-87.144930,-347.360606,38.307602,109.085560,30.413513,...,70.107360,-155.80257,-101.965943,65.903790,34.457500,62.642094,134.763600,-415.750254,-25.958572,675816-base
1-query,-87.776370,6.806268,-32.054546,-177.26039,120.803330,-83.810590,-94.572749,-78.433090,124.915900,140.331070,...,4.669178,-151.69771,-1.638704,68.170876,25.096191,89.974976,130.589630,-1035.092211,-51.276833,366656-base
2-query,-49.979565,3.841486,-116.118590,-180.40198,190.128430,-50.837620,26.943937,-30.447489,125.771164,211.607820,...,78.039764,-169.14620,82.144186,66.008220,18.400496,212.409730,121.931470,-1074.464888,-22.547178,1447819-base
3-query,-47.810562,9.086598,-115.401695,-121.01136,94.652840,-109.255410,-775.150134,79.186520,124.003100,242.650650,...,44.515266,-145.41675,93.990981,64.131350,106.061920,83.178760,118.277725,-1074.464888,-19.902788,1472602-base
4-query,-79.632126,14.442886,-58.903397,-147.05254,57.127068,-16.239529,-321.317964,45.984676,125.941284,103.392670,...,45.028910,-196.09207,-117.626337,66.926220,42.456170,77.621765,92.479930,-1074.464888,-21.149351,717819-base

In [6]:
train.shape

(100000, 73)

In [7]:
target_train = train["Target"]
train.drop("Target", axis=1, inplace=True)

In [8]:
col = train.columns.tolist()

In [9]:
validation.head()

,0,1,2,3,4,5,6,7,8,9,...,62,63,64,65,66,67,68,69,70,71
Id,,,,,,,,,,,,,,,,,,,,,
100000-query,-57.372734,3.597752,-13.213642,-125.92679,110.74594,-81.279594,-461.003172,139.815720,112.880980,75.215750,...,-75.51302,52.830902,-143.43945,59.051935,69.28224,61.927513,111.59253,115.140656,-1099.130485,-117.079360
100001-query,-53.758705,12.790300,-43.268543,-134.41762,114.44991,-90.520130,-759.626065,63.995087,127.117905,53.128998,...,-79.44183,29.185436,-168.60590,-82.872443,70.76560,-65.975950,97.07716,123.391640,-744.442332,-25.009320
100002-query,-64.175095,-3.980927,-7.679249,-170.16093,96.44616,-62.377740,-759.626065,87.477554,131.270110,168.920320,...,-134.79541,37.368730,-159.66231,-119.232725,67.71044,86.002060,137.63641,141.081630,-294.052271,-70.969604
100003-query,-99.286860,16.123936,9.837166,-148.06044,83.69708,-133.729720,58.576403,-19.046660,115.042404,75.206730,...,-77.23611,44.100494,-132.53012,-106.318982,70.88396,23.577892,133.18396,143.252940,-799.363667,-89.392670
100004-query,-79.532920,-0.364173,-16.027431,-170.88495,165.45392,-28.291668,33.931936,34.411217,128.903980,102.086914,...,-123.77025,45.635944,-134.25893,13.735359,70.61763,15.332115,154.56812,101.700640,-1171.892332,-125.307890

In [10]:
validation.shape

(100000, 72)

In [11]:
validation_answer.head()

                  Expected
Id
100000-query  2676668-base
100001-query    91606-base
100002-query   472256-base
100003-query  3168654-base
100004-query    75484-base

In [12]:
scaler = StandardScaler()
scaler.fit(train) 

train[col] = scaler.transform(train[col])
validation[col] = scaler.transform(validation[col])
base[col] = scaler.transform(base[col])

In [13]:
dim = base.shape[1]
topn = 15

In [14]:
index = faiss.index_factory(dim, "IVF1000,Flat")

In [15]:
index.train(np.ascontiguousarray(base.values[:100000, :]).astype('float32'))

index.add(np.ascontiguousarray(base.values).astype('float32'))

In [16]:
base_index = {k: v for k, v in enumerate(base.index.to_list())}

In [17]:
dist_faiss, idx = index.search(np.ascontiguousarray(train.values).astype('float32'), topn)

In [18]:
acc = 0
for target, el in zip(target_train.values.tolist(), idx.tolist()):
    acc += int(target in [base_index[r] for r in el])

print(100 * acc / len(idx))

53.529

In [19]:
efwegewgerh

NameError: name 'efwegewgerh' is not defined

In [21]:
X = 4000

In [ ]:
X*topn

In [22]:
dist = sum(dist_faiss.tolist()[:X*topn], [])

In [23]:
target_ml = [int(base_index[r] == t) for t, i in zip(target_train.values.tolist()[:X*topn], idx.tolist()[:X*topn]) for r in i]

In [24]:
# скалярное произведение векторов
scalar_vs = [np.dot(base.loc[base_index[r]].values, t) for t, i in zip(train.values.tolist()[:X*topn], idx.tolist()[:X*topn]) for r in i]
# длина исходного ветктора 
length_vector1 = [np.linalg.norm(t) for t in train.values.tolist()[:X*topn] for _ in range(topn)]
# длина найденного вектора
length_vector2 = [np.linalg.norm(base.loc[base_index[r]].values) for i in idx.tolist()[:X*topn] for r in i]
# cos угла между векторами
cos_angle = [np.dot(base.loc[base_index[r]].values, t) /
                         (np.linalg.norm(base.loc[base_index[r]].values) * np.linalg.norm(t)) for t, i in zip(train.values.tolist()[:X*topn], idx.tolist()[:X*topn]) for r in i]
# угол между векторами
angle_vs = [np.arccos(np.dot(base.loc[base_index[r]].values, t) /
                         (np.linalg.norm(base.loc[base_index[r]].values) * np.linalg.norm(t))) 
            for t, i in zip(train.values.tolist()[:X*topn], idx.tolist()[:X*topn]) for r in i]

KeyboardInterrupt:

In [ ]:
# угол между векторами в градусах
angle_degrees = [np.degrees(np.arccos(np.dot(base.loc[base_index[r]].values, t) 
                                      / (np.linalg.norm(base.loc[base_index[r]].values) 
                                         * np.linalg.norm(t)))) for t, i in zip(train.values.tolist()[:X*topn], idx.tolist()[:2]) for r in i]
# косинусное расстояние
cos_distance = [1 - np.dot(base.loc[base_index[r]].values, t) for t, i in zip(train.values.tolist()[:X*topn], idx.tolist()[:X*topn]) for r in i]

# евклидово растояние
euclidean_distance = [np.linalg.norm(base.loc[base_index[r]].values - t) for t, i in zip(train.values.tolist()[:X*topn], idx.tolist()[:X*topn]) for r in i]

# сумма сумм элементов
dif_sum = [np.sum(base.loc[base_index[r]].values) - np.sum(t) for t, i in zip(train.values.tolist()[:X*topn], idx.tolist()[:X*topn]) for r in i]

In [ ]:
# разность сумм элементов
sum_sums = [np.sum(base.loc[base_index[r]].values) + np.sum(t) for t, i in zip(train.values.tolist()[:X*topn], idx.tolist()[:X*topn]) for r in i]

# минимальное значение суммы элементов
min_sum_el = [np.min(base.loc[base_index[r]].values + t) for t, i in zip(train.values.tolist()[:X*topn], idx.tolist()[:X*topn]) for r in i]

# максимальное значение суммы элементов
max_sum_el = [np.max(base.loc[base_index[r]].values + t) for t, i in zip(train.values.tolist()[:X*topn], idx.tolist()[:X*topn]) for r in i]

# среднее значение сумм элементов 
mean_value_el = [np.mean(base.loc[base_index[r]].values) + np.mean(t) for t, i in zip(train.values.tolist()[:X*topn], idx.tolist()[:X*topn]) for r in i] 

# стандартное отклонение 
std_value = [np.std(base.loc[base_index[r]].values) + np.std(t) for t, i in zip(train.values.tolist()[:X*topn], idx.tolist()[:2]) for r in i]

# корреляция
correlation = [np.corrcoef(base.loc[base_index[r]].values, t)[0, 1] for t, i in zip(train.values.tolist()[:X*topn], idx.tolist()[:X*topn]) for r in i]

In [ ]:
train_ml = pd.DataFrame({
     'target_ml': target_ml, 'dist': dist,
     'scalar_vs': scalar_vs, 'length_vector1': length_vector1,
     'length_vector2': length_vector2, 'cos_angle': cos_angle,
     'angle_vs': angle_vs, 'angle_degrees': angle_degrees, 
     'cos_distance': cos_distance, 'euclidean_distance': euclidean_distance,
      'dif_sum': dif_sum, 'sum_sums': sum_sums, 'min_sum_el': min_sum_el,
      'max_sum_el': max_sum_el, 'mean_value_el': mean_value_el, 
      'std_value': std_value, 'correlation': correlation
})

In [ ]:
train_ml

In [ ]:
train_ml.info()

In [ ]:
r3t3232

In [ ]:
target_ml = train_ml['target_ml']
feature_train = train_ml.drop('target_ml', axis=1)

In [ ]:
feature_train

In [ ]:
num_columns = feature_train.columns.tolist()

In [ ]:
column_transformer = make_column_transformer((StandardScaler(), num_columns), remainder='passthrough')

In [ ]:
model = CatBoostRegressor(loss_function='logloss', random_seed=42)
pipeline = make_pipeline(column_transformer, model)

In [ ]:
iterations = range(35, 40)
depth = range(6, 10)
learning_rate = np.arange(0.5, 0.8, 0.1)


params = [{
    'clf': [CatBoostRegressor(num_classes=2, 'logloss', random_seed=42)],
    'clf__iterations': iterations,
    'clf__depth': depth,
    'clf__learning_rate': learning_rate
    }]

In [ ]:
def accuracy5(feature, target):
    acc = 0
    start = 0
    stop = topn
    proba = pipeline.predict_proba(feature)
    for x in range(int(len(feature)/topn)):
        probabilities = proba[start:stop][:, 1]
        top_sort_proba = probabilities.sort_values(ascending=False)[:5]
        selected = target[top_sort_proba.index]
        acc += int(sum(selected) > 0)
           
    return 100 * acc / (len(feature)/topn)